.DS_Store
node_modules/

# Build outputs
es/*.js
es/*.js.map
lib/*.js
lib/*.js.map
dist/*.js
dist/*.js.map
es6/*.js
es6/*.js.map
types/generated/

# Package managers lock files
package-lock.json
pnpm-lock.yaml

.augment/

.spec-workflow

mind-elixir-core
